pip==19.2.2
plotly==4.3.0
scikit-learn==0.22.1
sphinx==2.2.1
sphinx_rtd_theme==0.4.3
numpy==1.17.3
pandas==0.25.0
shap==0.32.1
dash>=0.41.0
dash-bootstrap-components>=0.9.1
dash-core-components>=0.46.0
dash-dangerously-set-inner-html>=0.0.2
dash-daq>=0.1.0
dash-html-components>=0.15.0
dash-renderer>=0.22.0
dash-table>=3.6.0
dash-table-experiments>=0.6.0
xgboost==0.90
catboost==0.16.5
category_encoders==2.1.0
lightgbm==2.3.0
pytest==5.2.3
pytest-cov==2.8.1
