pip
dash[testing]==1.20.0
catboost>=0.22
category-encoders==2.1.0
dash-bootstrap-components
dash-core-components
dash-daq
dash-html-components
dash-renderer
dash-table
lightgbm==2.3.1
numpy>1.18.0
pandas>1.0.2
plotly==4.12.0
shap==0.37.0
Sphinx==3.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
pytest
pytest-cov==2.8.1
scikit-learn>=0.23.2
xgboost==1.0.0
nbformat>4.2.0
numba==0.53.1
nbconvert==6.0.7
papermill
matplotlib
seaborn
notebook
Jinja2
phik

