pip==21.3.1
numpy>=1.18.0
dash==2.3.1
catboost>=1.0.1
category-encoders>=2.6.0
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-daq==0.5.0
dash-html-components==2.0.0
dash-renderer==1.8.3
dash-table==5.0.0
lightgbm==2.3.1
pandas>1.0.2
plotly==5.6.0
shap>=0.38.1
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
nbsphinx==0.8.8
sphinx_material==0.0.35
pytest>=6.2.5
pytest-cov>=2.8.1
scikit-learn>=1.1.0
xgboost==1.0.0
nbformat>4.2.0
numba>=0.53.1
nbconvert>=6.0.7
papermill>=2.0.0
matplotlib>=3.3.0
seaborn==0.11.1
scipy>=0.19.1
notebook>=6.0.0
Jinja2>=2.11.0
phik>=0.12.0
skranger>=0.6.0
acv-exp>=1.1.2
lime>=0.2.0.0
regex