h3 {
    font-size: calc(0.6rem + 1.1vw) !important;
}

h4 {
    font-size: calc(0.55rem + 0.95vw) !important;
}
:root {
    --main-color: #f4c000;
    --bkg-color: #343736;
    --bs-body-font-size: calc(0.3rem + 0.5vw);
}

#shapash_title {
    padding-left: 20px !important;
    margin: 0
}

#shapash_title hover,a {
    text-decoration: none !important;
}

#shapash_title_story {
    color: #ffffff !important;
    margin: auto;
}

#shapash_title_story hover,a {
    text-decoration: none !important;
}

.card {
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    color: #2e404f;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card_filter {
    position: relative;
}

/*      FILTER     */
.filter_dashed {

    width: 100%;
}
#max_contrib_id, #threshold_id {
    padding: 0 5px 20px !important;
}

.rc-slider-track {
    background-color: var(--main-color);
}
.rc-slider-dot-active {
    border-color: var(--bkg-color);
    border: solid 2px var(--bkg-color);
}
.rc-slider-handle {
    border-color: var(--bkg-color);
}
.rc.slider-handle-active:active {
    border-color: var(--main-color);
}

.rc-slider-mark {
    font-size: calc(0.25rem + 0.45vw);
}


/*   CHECKBOX     */
.custom-control-input:checked~.custom-control-label::before {
    border-color: var(--bkg-color) !important;
    background-color: var(--main-color) !important;
    cursor: pointer !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: none !important;
    cursor: pointer !important;
}

/*   SELECT CONTROL  */
.Select--multi .Select-value {
    color: var(--bkg-color) !important;
    background-color: var(--main-color) !important;
    margin-top: 1px !important;
}

/*   DATATABLE       */
/* .dash-spreadsheet.dash-freeze-left {
    max-width: none !important;
} */

#dataset > div.dash-spreadsheet-container.dash-spreadsheet.dash-freeze-top.dash-list-view.dash-fill-width > div{
    padding-left: 1rem;
    padding-right: 1rem;
}

#datatable-interactivity > div.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-fill-width > div > div.row.row-1 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.dash-spreadsheet.dash-freeze-top, .dash-spreadsheet.dash-virtualized {
    max-height: 100% !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner td.cell--selected, td.focused {
    background-color : Transparent !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    cursor: pointer !important;
    border-collapse: collapse;
    --accent: lightgrey !important;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner [class^='column-header--sort'] {
    float: right !important;
    margin-left: 5px;
}

.dash-tooltip {
    text-align: center;
}

/*   EXPAND      */

.dock-expand {
    width: 2vw;
    height: 2vw;
    position: absolute;
    top: -0.5vw;
    right: -0.5vw;
    background-color: white;
    border-radius: 26px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    text-align:center;
    cursor: pointer;
    z-index: 998;
}

/* PLOTLY MODEBAR */
.modebar {
    position: absolute;
    top: -5px !important;
    left: -5px !important;
}

.js-plotly-plot .plotly [data-title]::before, .js-plotly-plot .plotly [data-title]::after {
    position: absolute !important;
    left: 25% !important;
    width: fit-content !important;
}

/* TOOLTIPS */
.tooltip-inner {
    max-width: 400px;
    color: var(--main-color) !important;
    background-color: var(--bkg-color);
    text-align: left;
}

/* ID CARD */
.id_card_solid {
    border-bottom-color: silver;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 0.5rem;
}

.nav-tabs .nav-link.tab-label {
    border: 2px solid #ddd;
    padding: 0px 5px;
    height: 30px;
    color: black;
    background-color: white;
    transition: background-color 0.2s ease;
}

.nav-tabs .nav-link.tab-label:hover {
    background-color: var(--tab-hover-color) !important;
    cursor: pointer;
}

.nav-tabs .nav-link.tab-label.active {
    background-color: white !important;
    border-top: 3px solid var(--tab-active-color);
    font-weight: bold;
}

.form-label
{
    margin-bottom: 0;
}

.Select-placeholder, .Select__placeholder {
    line-height: 1.4vw !important;
    font-size: calc(0.3rem + 0.5vw) !important;
}

.Select-control, .Select__control {
    height: 1.4vw !important;
    line-height: 1.4vw !important;
    font-size: calc(0.3rem + 0.5vw) !important;
}

.Select-value, .Select__single-value {
    line-height: 0.9vw !important;
    font-size: calc(0.3rem + 0.5vw) !important;
    margin-top: 0.3vw !important;
}

.Select-input{
    padding: 0;
    height: 1.4vw !important;
    line-height: 1.4vw !important;
}

.Select-input input {
    padding: 0;
    height: 1.4vw !important;
    line-height: 1.4vw !important;
}

.Select-clear {
    font-size: calc(0.4rem + 0.65vw) !important;
}

.Select-multi-value-wrapper, .Select__value-container {
    height: 1.4vw !important;
    min-height: 1.4vw !important;
    line-height: 1.4vw !important;
}

input.form-control-s, input.form-control-s.form-control {
    height: 1.5vw !important;
    line-height: 1.5vw !important;
    font-size: 0.7vw !important;
}

button#id_card, .btn-warning {
    height: 1.5vw !important;
    font-size: calc(0.3rem + 0.5vw) !important;
    align-items: center;
    padding-top: 0.2vw !important;
}
